<div class="container mt-4">
  <h2 class="text-center mb-4">Dashboard</h2>
  <div class="row text-center">
    <div class="col-md-6 mb-3">
      <div class="card shadow-sm border-primary">
        <div class="card-body">
          <h3 class="card-title">Total Expenses</h3>
          <h2 class="text-primary">${{ expenseService.totalExpense() || 0 }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card shadow-sm border-success">
        <div class="card-body">
          <h3 class="card-title">Number of Expenses</h3>
          <h2 class="text-success">{{ expenseService.transactionCount() || 0 }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card shadow-sm border-success">
        <div class="card-body">
          <h3 class="card-title">Highest Expense</h3>
          <h2 class="text-success">${{ expenseService.highestExpense() || 0 }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card shadow-sm border-success">
        <div class="card-body">
          <h3 class="card-title">Average Expenses</h3>
          <h2 class="text-success">${{ expenseService.averageExpense() || 0 }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
